openapi: 3.0.3
info:
  title: Harness NextGen Software Delivery Platform API Reference
  description: This is the Open Api Spec 3 for the Access Control Service. This is
    under active development. Beware of the breaking change with respect to the generated
    code stub.
  contact:
    email: contact@harness.io
  version: "1.0"
servers:
- url: http://app.harness.io
  description: localhost
security:
- x-api-key: []
tags:
- name: Account Roles
  description: This contains APIs for performing CRUD operations on Account level
    Roles.
- name: Organization Roles
  description: This contains APIs for performing CRUD operations on Organization level
    Roles.
- name: Project Roles
  description: This contains APIs for performing CRUD operations on Project level
    Roles.
- name: Account Role Assignments
  description: This contains APIs for performing CRUD operations on Account level
    Role Assignments.
- name: Org Role Assignments
  description: This contains APIs for performing CRUD operations on Organization level
    Role Assignments.
- name: Project Role Assignments
  description: This contains APIs for performing CRUD operations on Project level
    Role Assignments.
- name: Organization
  description: Everything about organization
- name: Org Project
  description: Everything about org scoped project
- name: Account Secret
  description: Everything about account scoped secret
- name: Org Secret
  description: Everything about org scoped secret
- name: Project Secret
  description: Everything about project scoped secret
- name: Project Services
  description: This contains APIs for performing CRUD operations on Services.
- name: Account Connector
  description: Everything about account scoped connector
- name: Org Connector
  description: Everything about org scoped connector
- name: Project Connector
  description: Everything about project scoped connector
- name: Project Environments
  description: This contains APIs for performing CRUD operations on Environments.
- name: Account Resource Groups
  description: This contains APIs for performing CRUD operations on Account level
    Resource Groups.
- name: Organization Resource Groups
  description: This contains APIs for performing CRUD operations on Organization level
    Resource Groups.
- name: Project Resource Groups
  description: This contains APIs for performing CRUD operations on Project level
    Resource Groups.
- name: Filter Resource Groups
  description: This contains the filter endpoint for Resource Groups.
- name: Pipelines
  description: This contains APIs for performing CRUD operations on Pipelines.
- name: Account Template
  description: This contains APIs for performing CRUD operations on Templates at account
    scope.
- name: Org Template
  description: This contains APIs for performing CRUD operations on Templates at org
    scope.
- name: Project Template
  description: This contains APIs for performing CRUD operations on Templates at project
    scope.
paths:
  /v1/roles:
    get:
      tags:
      - Account Roles
      summary: List Roles
      description: Returns a list of Roles present in the Account scope.
      operationId: list-roles-acc
      parameters:
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items on each page."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Pagination: Number of items to return."
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          default: 30
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          the search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - slug
          - name
          - created
          - updated
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Roles List Response body
          headers:
            Link:
              description: "Links to related resources, in the format defined by [RFC\
                \ 5988](https://tools.ietf.org/html/rfc5988#section-5). This will\
                \ include a link with relation type `next` to the next page, if there\
                \ is a next page."
              style: simple
              explode: false
              schema:
                type: string
              examples:
                sample:
                  value: "</v1/roles?page=2&limit=1>; rel=\"next\", </v1/roles?page=1&limit=1>;\
                    \ rel=\"self\", </v1/roles?page=0&limit=1>; rel=\"previous\", "
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolesResponse'
                x-content-type: application/json
              examples:
                role-list-response:
                  value:
                  - slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolesResponse'
              examples:
                role-list-response:
                  value: "- slug: example_role\n  name: Example_Role\n  permissions:\n\
                    \    - core_resource_view\n  allowed_scope_levels:\n    - account\n\
                    \  description: This is an Example Role\n  tags:\n    example-tag-1:\
                    \ example-tag-1-value\n    example-tag-2: example-tag-2-value\n\
                    \  scope:\n    account: sample_account\n    org: sample_organization\n\
                    \    project: sample_project\n  created: 1234567890\n  updated:\
                    \ 1234567890\n  harness_managed: true\n"
      security:
      - x-api-key: []
    post:
      tags:
      - Account Roles
      summary: Create a Role
      description: Creates a custom Role in the Account scope.
      operationId: create-role-acc
      parameters:
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      responses:
        "201":
          description: Role Response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value:
                    slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value: "slug: example_role\nname: Example_Role\npermissions:\n \
                    \ - core_resource_view\nallowed_scope_levels:\n  - account\ndescription:\
                    \ This is an Example Role\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nscope:\n  account: sample_account\n\
                    \  org: sample_organization\n  project: sample_project\ncreated:\
                    \ 1234567890\nupdated: 1234567890\nharness_managed: true\n"
      security:
      - x-api-key: []
  /v1/roles/{role}:
    get:
      tags:
      - Account Roles
      summary: Retrieve a Role
      description: Retrieves a Role from Account scope.
      operationId: get-role-acc
      parameters:
      - name: role
        in: path
        description: Role identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Role Response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value:
                    slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value: "slug: example_role\nname: Example_Role\npermissions:\n \
                    \ - core_resource_view\nallowed_scope_levels:\n  - account\ndescription:\
                    \ This is an Example Role\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nscope:\n  account: sample_account\n\
                    \  org: sample_organization\n  project: sample_project\ncreated:\
                    \ 1234567890\nupdated: 1234567890\nharness_managed: true\n"
      security:
      - x-api-key: []
    put:
      tags:
      - Account Roles
      summary: Update a Role
      description: Updates a Role from Account scope.
      operationId: update-role-acc
      parameters:
      - name: role
        in: path
        description: Role identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      responses:
        "200":
          description: Role Response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value:
                    slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value: "slug: example_role\nname: Example_Role\npermissions:\n \
                    \ - core_resource_view\nallowed_scope_levels:\n  - account\ndescription:\
                    \ This is an Example Role\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nscope:\n  account: sample_account\n\
                    \  org: sample_organization\n  project: sample_project\ncreated:\
                    \ 1234567890\nupdated: 1234567890\nharness_managed: true\n"
      security:
      - x-api-key: []
    delete:
      tags:
      - Account Roles
      summary: Delete a Role
      description: Deletes a custom Role from Account scope.
      operationId: delete-role-acc
      parameters:
      - name: role
        in: path
        description: Role identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Role Response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value:
                    slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value: "slug: example_role\nname: Example_Role\npermissions:\n \
                    \ - core_resource_view\nallowed_scope_levels:\n  - account\ndescription:\
                    \ This is an Example Role\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nscope:\n  account: sample_account\n\
                    \  org: sample_organization\n  project: sample_project\ncreated:\
                    \ 1234567890\nupdated: 1234567890\nharness_managed: true\n"
      security:
      - x-api-key: []
  /v1/orgs/{org}/roles:
    get:
      tags:
      - Organization Roles
      summary: List Roles
      description: Returns a list of Roles present in the Organization scope.
      operationId: list-roles-org
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items on each page."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Pagination: Number of items to return."
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          default: 30
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          the search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - slug
          - name
          - created
          - updated
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Roles List Response body
          headers:
            Link:
              description: "Links to related resources, in the format defined by [RFC\
                \ 5988](https://tools.ietf.org/html/rfc5988#section-5). This will\
                \ include a link with relation type `next` to the next page, if there\
                \ is a next page."
              style: simple
              explode: false
              schema:
                type: string
              examples:
                sample:
                  value: "</v1/roles?page=2&limit=1>; rel=\"next\", </v1/roles?page=1&limit=1>;\
                    \ rel=\"self\", </v1/roles?page=0&limit=1>; rel=\"previous\", "
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolesResponse'
                x-content-type: application/json
              examples:
                role-list-response:
                  value:
                  - slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolesResponse'
              examples:
                role-list-response:
                  value: "- slug: example_role\n  name: Example_Role\n  permissions:\n\
                    \    - core_resource_view\n  allowed_scope_levels:\n    - account\n\
                    \  description: This is an Example Role\n  tags:\n    example-tag-1:\
                    \ example-tag-1-value\n    example-tag-2: example-tag-2-value\n\
                    \  scope:\n    account: sample_account\n    org: sample_organization\n\
                    \    project: sample_project\n  created: 1234567890\n  updated:\
                    \ 1234567890\n  harness_managed: true\n"
      security:
      - x-api-key: []
    post:
      tags:
      - Organization Roles
      summary: Create a Role
      description: Creates a custom Role in the Organization scope.
      operationId: create-role-org
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      responses:
        "201":
          description: Role Response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value:
                    slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value: "slug: example_role\nname: Example_Role\npermissions:\n \
                    \ - core_resource_view\nallowed_scope_levels:\n  - account\ndescription:\
                    \ This is an Example Role\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nscope:\n  account: sample_account\n\
                    \  org: sample_organization\n  project: sample_project\ncreated:\
                    \ 1234567890\nupdated: 1234567890\nharness_managed: true\n"
      security:
      - x-api-key: []
  /v1/orgs/{org}/roles/{role}:
    get:
      tags:
      - Organization Roles
      summary: Retrieve a Role
      description: Retrieves a Role from Organization scope.
      operationId: get-role-org
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: role
        in: path
        description: Role identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Role Response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value:
                    slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value: "slug: example_role\nname: Example_Role\npermissions:\n \
                    \ - core_resource_view\nallowed_scope_levels:\n  - account\ndescription:\
                    \ This is an Example Role\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nscope:\n  account: sample_account\n\
                    \  org: sample_organization\n  project: sample_project\ncreated:\
                    \ 1234567890\nupdated: 1234567890\nharness_managed: true\n"
      security:
      - x-api-key: []
    put:
      tags:
      - Organization Roles
      summary: Update a Role
      description: Updates a Role from Organization scope.
      operationId: update-role-org
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: role
        in: path
        description: Role identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      responses:
        "200":
          description: Role Response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value:
                    slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value: "slug: example_role\nname: Example_Role\npermissions:\n \
                    \ - core_resource_view\nallowed_scope_levels:\n  - account\ndescription:\
                    \ This is an Example Role\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nscope:\n  account: sample_account\n\
                    \  org: sample_organization\n  project: sample_project\ncreated:\
                    \ 1234567890\nupdated: 1234567890\nharness_managed: true\n"
      security:
      - x-api-key: []
    delete:
      tags:
      - Organization Roles
      summary: Delete a Role
      description: Deletes a custom Role from Organization scope.
      operationId: delete-role-org
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: role
        in: path
        description: Role identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Role Response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value:
                    slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value: "slug: example_role\nname: Example_Role\npermissions:\n \
                    \ - core_resource_view\nallowed_scope_levels:\n  - account\ndescription:\
                    \ This is an Example Role\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nscope:\n  account: sample_account\n\
                    \  org: sample_organization\n  project: sample_project\ncreated:\
                    \ 1234567890\nupdated: 1234567890\nharness_managed: true\n"
      security:
      - x-api-key: []
  /v1/orgs/{org}/projects/{project}/roles:
    get:
      tags:
      - Project Roles
      summary: List Roles
      description: Returns a list of Roles present in the Project scope.
      operationId: list-roles-project
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Project identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items on each page."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Pagination: Number of items to return."
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          default: 30
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          the search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - slug
          - name
          - created
          - updated
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Roles List Response body
          headers:
            Link:
              description: "Links to related resources, in the format defined by [RFC\
                \ 5988](https://tools.ietf.org/html/rfc5988#section-5). This will\
                \ include a link with relation type `next` to the next page, if there\
                \ is a next page."
              style: simple
              explode: false
              schema:
                type: string
              examples:
                sample:
                  value: "</v1/roles?page=2&limit=1>; rel=\"next\", </v1/roles?page=1&limit=1>;\
                    \ rel=\"self\", </v1/roles?page=0&limit=1>; rel=\"previous\", "
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolesResponse'
                x-content-type: application/json
              examples:
                role-list-response:
                  value:
                  - slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RolesResponse'
              examples:
                role-list-response:
                  value: "- slug: example_role\n  name: Example_Role\n  permissions:\n\
                    \    - core_resource_view\n  allowed_scope_levels:\n    - account\n\
                    \  description: This is an Example Role\n  tags:\n    example-tag-1:\
                    \ example-tag-1-value\n    example-tag-2: example-tag-2-value\n\
                    \  scope:\n    account: sample_account\n    org: sample_organization\n\
                    \    project: sample_project\n  created: 1234567890\n  updated:\
                    \ 1234567890\n  harness_managed: true\n"
      security:
      - x-api-key: []
    post:
      tags:
      - Project Roles
      summary: Create a Role
      description: Creates a custom Role in the Project scope.
      operationId: create-role-project
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Project identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      responses:
        "201":
          description: Role Response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value:
                    slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value: "slug: example_role\nname: Example_Role\npermissions:\n \
                    \ - core_resource_view\nallowed_scope_levels:\n  - account\ndescription:\
                    \ This is an Example Role\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nscope:\n  account: sample_account\n\
                    \  org: sample_organization\n  project: sample_project\ncreated:\
                    \ 1234567890\nupdated: 1234567890\nharness_managed: true\n"
      security:
      - x-api-key: []
  /v1/orgs/{org}/projects/{project}/roles/{role}:
    get:
      tags:
      - Project Roles
      summary: Retrieve a Role
      description: Retrieves a Role from Project scope.
      operationId: get-role-project
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Project identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: role
        in: path
        description: Role identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Role Response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value:
                    slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value: "slug: example_role\nname: Example_Role\npermissions:\n \
                    \ - core_resource_view\nallowed_scope_levels:\n  - account\ndescription:\
                    \ This is an Example Role\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nscope:\n  account: sample_account\n\
                    \  org: sample_organization\n  project: sample_project\ncreated:\
                    \ 1234567890\nupdated: 1234567890\nharness_managed: true\n"
      security:
      - x-api-key: []
    put:
      tags:
      - Project Roles
      summary: Update a Role
      description: Updates a Role from Project scope.
      operationId: update-role-project
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Project identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: role
        in: path
        description: Role identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateRoleRequest'
      responses:
        "200":
          description: Role Response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value:
                    slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value: "slug: example_role\nname: Example_Role\npermissions:\n \
                    \ - core_resource_view\nallowed_scope_levels:\n  - account\ndescription:\
                    \ This is an Example Role\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nscope:\n  account: sample_account\n\
                    \  org: sample_organization\n  project: sample_project\ncreated:\
                    \ 1234567890\nupdated: 1234567890\nharness_managed: true\n"
      security:
      - x-api-key: []
    delete:
      tags:
      - Project Roles
      summary: Delete a Role
      description: Deletes a custom Role from Project scope.
      operationId: delete-role-project
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Project identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: role
        in: path
        description: Role identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Role Response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value:
                    slug: example_role
                    name: Example_Role
                    permissions:
                    - core_resource_view
                    allowed_scope_levels:
                    - account
                    description: This is an Example Role
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    scope:
                      account: sample_account
                      org: sample_organization
                      project: sample_project
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/RolesResponse'
              examples:
                role-response:
                  value: "slug: example_role\nname: Example_Role\npermissions:\n \
                    \ - core_resource_view\nallowed_scope_levels:\n  - account\ndescription:\
                    \ This is an Example Role\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nscope:\n  account: sample_account\n\
                    \  org: sample_organization\n  project: sample_project\ncreated:\
                    \ 1234567890\nupdated: 1234567890\nharness_managed: true\n"
      security:
      - x-api-key: []
  /v1/roleassignments:
    get:
      tags:
      - Account Role Assignments
      summary: List role assignments
      description: Retrieves the information of the role assignments
      operationId: get-account-scoped-role-assignments
      parameters:
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items on each page."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Pagination: Number of items to return."
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          default: 30
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - slug
          - name
          - created
          - updated
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Role Assignment List Response body
          headers:
            Link:
              description: "Links to related resources, in the format defined by [RFC\
                \ 5988](https://tools.ietf.org/html/rfc5988#section-5). This will\
                \ include a link with relation type `next` to the next page, if there\
                \ is a next page."
              style: simple
              explode: false
              schema:
                type: string
              examples:
                sample:
                  value: "</v1/roles?page=2&limit=1>; rel=\"next\", </v1/roles?page=1&limit=1>;\
                    \ rel=\"self\", </v1/roles?page=0&limit=1>; rel=\"previous\", "
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleAssignmentResponse'
                x-content-type: application/json
              examples:
                role-assignment-response-json:
                  value:
                  - roleassignment:
                      slug: example_role_assignment
                      resource_group: example_resource_group_slug
                      role: example_role_slug
                      principal:
                        scope: ACCOUNT
                        slug: example_principal_slug
                        type: USER
                      disabled: false
                      managed: false
                    created: 1234567890
                    updated: 1234567890
                    harness_managaed: false
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-json:
                  value: "- roleassignment:\n    slug: example_role_assignment\n \
                    \   resource_group: example_resource_group_slug\n    role: example_role_slug\n\
                    \    principal:\n      scope: ACCOUNT\n      slug: example_principal_slug\n\
                    \      type: USER\n    disabled: false\n    managed: false\n \
                    \ created: 1234567890\n  updated: 1234567890\n  harness_managaed:\
                    \ false\n"
    post:
      tags:
      - Account Role Assignments
      summary: Create a role assignment
      description: Create a role assignment
      operationId: create-account-scoped-role-assignments
      parameters:
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/RoleAssignmentRequest'
      responses:
        "201":
          description: Role assignment response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-json:
                  value:
                    roleassignment:
                      slug: example_role_assignment
                      resource_group: example_resource_group_slug
                      role: example_role_slug
                      principal:
                        scope: ACCOUNT
                        slug: example_principal_slug
                        type: USER
                      disabled: false
                      managed: false
                    created: 1234567890
                    updated: 1234567890
                    harness_managaed: false
            application/yaml:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-yaml:
                  value: "roleassignment:\n  slug: example_role_assignment\n  resource_group:\
                    \ example_resource_group_slug\n  role: example_role_slug\n  principal:\n\
                    \    scope: ACCOUNT\n    slug: example_principal_slug\n    type:\
                    \ USER\n  disabled: false\n  managed: false\ncreated: 1234567890\n\
                    updated: 1234567890\nharness_managaed: false\n"
  /v1/roleassignments/{roleassignment}:
    get:
      tags:
      - Account Role Assignments
      summary: Retrieve a role assignment
      description: Retrieves the information of the role assignment with the matching
        role assignment slug.
      operationId: get-account-scoped-role-assignment
      parameters:
      - name: roleassignment
        in: path
        description: Role assignment slug
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Role assignment response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-json:
                  value:
                    roleassignment:
                      slug: example_role_assignment
                      resource_group: example_resource_group_slug
                      role: example_role_slug
                      principal:
                        scope: ACCOUNT
                        slug: example_principal_slug
                        type: USER
                      disabled: false
                      managed: false
                    created: 1234567890
                    updated: 1234567890
                    harness_managaed: false
            application/yaml:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-yaml:
                  value: "roleassignment:\n  slug: example_role_assignment\n  resource_group:\
                    \ example_resource_group_slug\n  role: example_role_slug\n  principal:\n\
                    \    scope: ACCOUNT\n    slug: example_principal_slug\n    type:\
                    \ USER\n  disabled: false\n  managed: false\ncreated: 1234567890\n\
                    updated: 1234567890\nharness_managaed: false\n"
    delete:
      tags:
      - Account Role Assignments
      summary: Delete a role assignment
      description: Deletes the information of the role assignment with the matching
        role assignment slug.
      operationId: delete-account-scoped-role-assignment
      parameters:
      - name: roleassignment
        in: path
        description: Role assignment slug
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Role assignment response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-json:
                  value:
                    roleassignment:
                      slug: example_role_assignment
                      resource_group: example_resource_group_slug
                      role: example_role_slug
                      principal:
                        scope: ACCOUNT
                        slug: example_principal_slug
                        type: USER
                      disabled: false
                      managed: false
                    created: 1234567890
                    updated: 1234567890
                    harness_managaed: false
            application/yaml:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-yaml:
                  value: "roleassignment:\n  slug: example_role_assignment\n  resource_group:\
                    \ example_resource_group_slug\n  role: example_role_slug\n  principal:\n\
                    \    scope: ACCOUNT\n    slug: example_principal_slug\n    type:\
                    \ USER\n  disabled: false\n  managed: false\ncreated: 1234567890\n\
                    updated: 1234567890\nharness_managaed: false\n"
  /v1/orgs/{org}/roleassignments:
    get:
      tags:
      - Org Role Assignments
      summary: List role assignments
      description: Retrieves the information of the role assignments
      operationId: get-org-scoped-role-assignments
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items on each page."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Pagination: Number of items to return."
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          default: 30
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - slug
          - name
          - created
          - updated
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Role Assignment List Response body
          headers:
            Link:
              description: "Links to related resources, in the format defined by [RFC\
                \ 5988](https://tools.ietf.org/html/rfc5988#section-5). This will\
                \ include a link with relation type `next` to the next page, if there\
                \ is a next page."
              style: simple
              explode: false
              schema:
                type: string
              examples:
                sample:
                  value: "</v1/roles?page=2&limit=1>; rel=\"next\", </v1/roles?page=1&limit=1>;\
                    \ rel=\"self\", </v1/roles?page=0&limit=1>; rel=\"previous\", "
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleAssignmentResponse'
                x-content-type: application/json
              examples:
                role-assignment-response-json:
                  value:
                  - roleassignment:
                      slug: example_role_assignment
                      resource_group: example_resource_group_slug
                      role: example_role_slug
                      principal:
                        scope: ACCOUNT
                        slug: example_principal_slug
                        type: USER
                      disabled: false
                      managed: false
                    created: 1234567890
                    updated: 1234567890
                    harness_managaed: false
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-json:
                  value: "- roleassignment:\n    slug: example_role_assignment\n \
                    \   resource_group: example_resource_group_slug\n    role: example_role_slug\n\
                    \    principal:\n      scope: ACCOUNT\n      slug: example_principal_slug\n\
                    \      type: USER\n    disabled: false\n    managed: false\n \
                    \ created: 1234567890\n  updated: 1234567890\n  harness_managaed:\
                    \ false\n"
    post:
      tags:
      - Org Role Assignments
      summary: Create a role assignment
      description: Create a role assignment
      operationId: create-org-scoped-role-assignments
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/RoleAssignmentRequest'
      responses:
        "201":
          description: Role assignment response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-json:
                  value:
                    roleassignment:
                      slug: example_role_assignment
                      resource_group: example_resource_group_slug
                      role: example_role_slug
                      principal:
                        scope: ACCOUNT
                        slug: example_principal_slug
                        type: USER
                      disabled: false
                      managed: false
                    created: 1234567890
                    updated: 1234567890
                    harness_managaed: false
            application/yaml:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-yaml:
                  value: "roleassignment:\n  slug: example_role_assignment\n  resource_group:\
                    \ example_resource_group_slug\n  role: example_role_slug\n  principal:\n\
                    \    scope: ACCOUNT\n    slug: example_principal_slug\n    type:\
                    \ USER\n  disabled: false\n  managed: false\ncreated: 1234567890\n\
                    updated: 1234567890\nharness_managaed: false\n"
  /v1/orgs/{org}/roleassignments/{roleassignment}:
    get:
      tags:
      - Org Role Assignments
      summary: Retrieve a role assignment
      description: Retrieves the information of the role assignment with the matching
        role assignment slug.
      operationId: get-org-scoped-role-assignment
      parameters:
      - name: roleassignment
        in: path
        description: Role assignment slug
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Role assignment response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-json:
                  value:
                    roleassignment:
                      slug: example_role_assignment
                      resource_group: example_resource_group_slug
                      role: example_role_slug
                      principal:
                        scope: ACCOUNT
                        slug: example_principal_slug
                        type: USER
                      disabled: false
                      managed: false
                    created: 1234567890
                    updated: 1234567890
                    harness_managaed: false
            application/yaml:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-yaml:
                  value: "roleassignment:\n  slug: example_role_assignment\n  resource_group:\
                    \ example_resource_group_slug\n  role: example_role_slug\n  principal:\n\
                    \    scope: ACCOUNT\n    slug: example_principal_slug\n    type:\
                    \ USER\n  disabled: false\n  managed: false\ncreated: 1234567890\n\
                    updated: 1234567890\nharness_managaed: false\n"
    delete:
      tags:
      - Org Role Assignments
      summary: Delete a role assignment
      description: Deletes the information of the role assignment with the matching
        role assignment slug.
      operationId: delete-org-scoped-role-assignment
      parameters:
      - name: roleassignment
        in: path
        description: Role assignment slug
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Role assignment response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-json:
                  value:
                    roleassignment:
                      slug: example_role_assignment
                      resource_group: example_resource_group_slug
                      role: example_role_slug
                      principal:
                        scope: ACCOUNT
                        slug: example_principal_slug
                        type: USER
                      disabled: false
                      managed: false
                    created: 1234567890
                    updated: 1234567890
                    harness_managaed: false
            application/yaml:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-yaml:
                  value: "roleassignment:\n  slug: example_role_assignment\n  resource_group:\
                    \ example_resource_group_slug\n  role: example_role_slug\n  principal:\n\
                    \    scope: ACCOUNT\n    slug: example_principal_slug\n    type:\
                    \ USER\n  disabled: false\n  managed: false\ncreated: 1234567890\n\
                    updated: 1234567890\nharness_managaed: false\n"
  /v1/orgs/{org}/projects/{project}/roleassignments:
    get:
      tags:
      - Project Role Assignments
      summary: List role assignments
      description: Retrieves the information of the role assignments
      operationId: get-project-scoped-role-assignments
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Project identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items on each page."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Pagination: Number of items to return."
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          default: 30
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - slug
          - name
          - created
          - updated
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Role Assignment List Response body
          headers:
            Link:
              description: "Links to related resources, in the format defined by [RFC\
                \ 5988](https://tools.ietf.org/html/rfc5988#section-5). This will\
                \ include a link with relation type `next` to the next page, if there\
                \ is a next page."
              style: simple
              explode: false
              schema:
                type: string
              examples:
                sample:
                  value: "</v1/roles?page=2&limit=1>; rel=\"next\", </v1/roles?page=1&limit=1>;\
                    \ rel=\"self\", </v1/roles?page=0&limit=1>; rel=\"previous\", "
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleAssignmentResponse'
                x-content-type: application/json
              examples:
                role-assignment-response-json:
                  value:
                  - roleassignment:
                      slug: example_role_assignment
                      resource_group: example_resource_group_slug
                      role: example_role_slug
                      principal:
                        scope: ACCOUNT
                        slug: example_principal_slug
                        type: USER
                      disabled: false
                      managed: false
                    created: 1234567890
                    updated: 1234567890
                    harness_managaed: false
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-json:
                  value: "- roleassignment:\n    slug: example_role_assignment\n \
                    \   resource_group: example_resource_group_slug\n    role: example_role_slug\n\
                    \    principal:\n      scope: ACCOUNT\n      slug: example_principal_slug\n\
                    \      type: USER\n    disabled: false\n    managed: false\n \
                    \ created: 1234567890\n  updated: 1234567890\n  harness_managaed:\
                    \ false\n"
    post:
      tags:
      - Project Role Assignments
      summary: Create a role assignment
      description: Create a role assignment
      operationId: create-project-scoped-role-assignments
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Project identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/RoleAssignmentRequest'
      responses:
        "201":
          description: Role assignment response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-json:
                  value:
                    roleassignment:
                      slug: example_role_assignment
                      resource_group: example_resource_group_slug
                      role: example_role_slug
                      principal:
                        scope: ACCOUNT
                        slug: example_principal_slug
                        type: USER
                      disabled: false
                      managed: false
                    created: 1234567890
                    updated: 1234567890
                    harness_managaed: false
            application/yaml:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-yaml:
                  value: "roleassignment:\n  slug: example_role_assignment\n  resource_group:\
                    \ example_resource_group_slug\n  role: example_role_slug\n  principal:\n\
                    \    scope: ACCOUNT\n    slug: example_principal_slug\n    type:\
                    \ USER\n  disabled: false\n  managed: false\ncreated: 1234567890\n\
                    updated: 1234567890\nharness_managaed: false\n"
  /v1/orgs/{org}/projects/{project}/roleassignments/{roleassignment}:
    get:
      tags:
      - Project Role Assignments
      summary: Retrieve a role assignment
      description: Retrieves the information of the role assignment with the matching
        role assignment slug.
      operationId: get-project-scoped-role-assignment
      parameters:
      - name: roleassignment
        in: path
        description: Role assignment slug
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Project identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Role assignment response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-json:
                  value:
                    roleassignment:
                      slug: example_role_assignment
                      resource_group: example_resource_group_slug
                      role: example_role_slug
                      principal:
                        scope: ACCOUNT
                        slug: example_principal_slug
                        type: USER
                      disabled: false
                      managed: false
                    created: 1234567890
                    updated: 1234567890
                    harness_managaed: false
            application/yaml:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-yaml:
                  value: "roleassignment:\n  slug: example_role_assignment\n  resource_group:\
                    \ example_resource_group_slug\n  role: example_role_slug\n  principal:\n\
                    \    scope: ACCOUNT\n    slug: example_principal_slug\n    type:\
                    \ USER\n  disabled: false\n  managed: false\ncreated: 1234567890\n\
                    updated: 1234567890\nharness_managaed: false\n"
    delete:
      tags:
      - Project Role Assignments
      summary: Delete a role assignment
      description: Deletes the information of the role assignment with the matching
        role assignment slug.
      operationId: delete-project-scoped-role-assignment
      parameters:
      - name: roleassignment
        in: path
        description: Role assignment slug
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Project identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Role assignment response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-json:
                  value:
                    roleassignment:
                      slug: example_role_assignment
                      resource_group: example_resource_group_slug
                      role: example_role_slug
                      principal:
                        scope: ACCOUNT
                        slug: example_principal_slug
                        type: USER
                      disabled: false
                      managed: false
                    created: 1234567890
                    updated: 1234567890
                    harness_managaed: false
            application/yaml:
              schema:
                $ref: '#/components/schemas/RoleAssignmentResponse'
              examples:
                role-assignment-response-yaml:
                  value: "roleassignment:\n  slug: example_role_assignment\n  resource_group:\
                    \ example_resource_group_slug\n  role: example_role_slug\n  principal:\n\
                    \    scope: ACCOUNT\n    slug: example_principal_slug\n    type:\
                    \ USER\n  disabled: false\n  managed: false\ncreated: 1234567890\n\
                    updated: 1234567890\nharness_managaed: false\n"
  /v1/orgs/{org}/projects/{project}/services/{service}:
    get:
      tags:
      - Project Services
      summary: Retrieve a Service
      description: 'Retrieves specified Service '
      operationId: get-service
      parameters:
      - name: org
        in: path
        description: Slug field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Slug field of the project the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service
        in: path
        description: Slug field of the service the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      slug: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: "service:\n  name: \"Example_service\"\n  identifier:\
                        \ \"example_service\"\n  tags: {}\n"
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: "service:\n  account: sample_account\n  slug: example_service\n\
                    \  org: sample_organization\n  project: sample_project\n  name:\
                    \ Example_service\n  description: This is a example service\n\
                    \  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2:\
                    \ example-tag-2-value\n  yaml: |\n    service:\n      name: \"\
                    Example_service\"\n      identifier: \"example_service\"\n   \
                    \   tags: {}\ncreated: 1234567890\nupdated: 1234567890\n"
      security:
      - x-api-key: []
    put:
      tags:
      - Project Services
      summary: Update Service
      description: Update Services
      operationId: update-service
      parameters:
      - name: org
        in: path
        description: Slug field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Slug field of the project the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service
        in: path
        description: Slug field of the service the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/ServiceRequest'
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      slug: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: "service:\n  name: \"Example_service\"\n  identifier:\
                        \ \"example_service\"\n  tags: {}\n"
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: "service:\n  account: sample_account\n  slug: example_service\n\
                    \  org: sample_organization\n  project: sample_project\n  name:\
                    \ Example_service\n  description: This is a example service\n\
                    \  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2:\
                    \ example-tag-2-value\n  yaml: |\n    service:\n      name: \"\
                    Example_service\"\n      identifier: \"example_service\"\n   \
                    \   tags: {}\ncreated: 1234567890\nupdated: 1234567890\n"
      security:
      - x-api-key: []
    delete:
      tags:
      - Project Services
      summary: Delete a Service
      description: Deletes the requested service
      operationId: delete-service
      parameters:
      - name: org
        in: path
        description: Slug field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Slug field of the project the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service
        in: path
        description: Slug field of the service the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      slug: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: "service:\n  name: \"Example_service\"\n  identifier:\
                        \ \"example_service\"\n  tags: {}\n"
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: "service:\n  account: sample_account\n  slug: example_service\n\
                    \  org: sample_organization\n  project: sample_project\n  name:\
                    \ Example_service\n  description: This is a example service\n\
                    \  tags:\n    example-tag-1: example-tag-1-value\n    example-tag-2:\
                    \ example-tag-2-value\n  yaml: |\n    service:\n      name: \"\
                    Example_service\"\n      identifier: \"example_service\"\n   \
                    \   tags: {}\ncreated: 1234567890\nupdated: 1234567890\n"
      security:
      - x-api-key: []
  /v1/orgs/{org}/projects/{project}/services:
    get:
      tags:
      - Project Services
      summary: List Services
      description: Returns all services that the current user has view permissions
        for given project.
      operationId: get-services
      parameters:
      - name: org
        in: path
        description: Slug field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Slug field of the project the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items in each page\t"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Pagination: Number of items to return"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 30
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          with search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: service_ids
        in: query
        description: List of Service Identifiers
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - name
          - slug
          - created
          - updated
      - name: is_access_list
        in: query
        description: Specify whether list an access list or not. Access List refers
          to list of services that current user has permission to use in the pipeline.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: type
        in: query
        description: Service Definition type
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - Kubernetes
          - NativeHelm
          - Ssh
          - WinRm
          - ServerlessAwsLambda
          - AzureWebApp
      - name: git_ops_enabled
        in: query
        description: Enables use of this service in Harness GitOps PR Pipelines
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Example response
          headers:
            Link:
              description: "Links to related resources, in the format defined by [RFC\
                \ 5988](https://tools.ietf.org/html/rfc5988#section-5). This will\
                \ include a link with relation type `next` to the next page, if there\
                \ is a next page."
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceResponse'
                x-content-type: application/json
              examples:
                example-1:
                  value:
                  - service:
                      account: sample_account
                      slug: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: "service:\n  name: \"Example_service\"\n  identifier:\
                        \ \"example_service\"\n  tags: {}\n"
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
[...]
